<section class="section page-banner text_center" style="background-image: url({{ background }})">
    <div class="container">
        <h1 class="section-banner__heading heading heading_xl">
            {{ h1 }}
        </h1>
    </div>
</section>